header{
    background-color: rgb(0, 82, 31);
    width: 100%;
}
footer{
    margin-top: 1cm;
     background-color: rgb(0, 82, 31);
    width: 100%;
    text-align: center;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
   
}
.somelink{
    border-left: 30px solid #21af5f;
    border-radius: 10px;
    padding: 20px;
    background-color: #cccccc;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    width: 100%;
    margin-bottom: 1cm;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    width: 100%;         
    margin-top: 20px;
}
.course{
   display: flex;
    flex-direction: column;
    align-items: center;    /* Düymələri daxildə mərkəzləyir */
    width: 300px;
    padding: 20px 0;        /* Yuxarıdan və aşağıdan boşluq */
    border-radius: 10px;
    background-color: rgb(224, 224, 224);
  
}
.smcourse{
    border-left: 5px solid #e29887;
    padding: 10px;           
    width: 160px;           
    background-color: #78dfe7;
    border-radius: 8px;
    margin-bottom: 0.3cm;
}
#menu-toggle{
    display: none;
}
.menu-btn{
    color: white;
    background-color: dark green;
    cursor: pointer;
    margin-left: 1cm;
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.menu{
    display: none;
    margin-left: 1cm;
    margin-top: 1cm;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(31, 176, 31);
    
}
#menu-toggle:checked +.menu{
    display: block;
 
}
.menu a{
    display: block;
    color:white;
    padding: 6px;
    text-decoration: none;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.contact-container {
    max-width: 500px;
    margin: 50px auto;
    background: white;
    padding: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #1c3459;
    border-radius: 4px;
    box-sizing: border-box; /* Ölçülərin düzgün qalması üçün */
}

textarea {
    height: 100px;
    resize: vertical;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #2563eb; /* Şəkildəki göy rəng */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #1d4ed8;
}
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px;
    background-color: #4ba24d;
    width: fit-content;
}
img{
    width: 500px;
    margin-left: 0;
}
.Go{
    margin-top: 1cm;
    border-radius: 2px;
    text-align: center;
    width: 60px;
    background-color: #21af5f;
}